---
import '../styles/global.css';

export interface Props {
  title?: string;
  description?: string;
}

const { title = "NSN Electrical - Melbourne - Specialists in Electrical Maintenance", description = "We are fully qualified & licensed Electricians working throughout inner Melbourne with property owners, real estate agencies and property managers. " } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content={description} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>{title}</title>
</head>
<body>
  <slot />
</body>
</html>
